@import url('./3rd/picocss/pico.grey.min.css');


:root {
    --pico-font-size: 95%;
    --pico-spacing: 0.5rem;
}

/* this rule prevent iPad Safari to bounce the page horizontally */
html {
    width  : 100%;
    border:0;
    margin:0;
    padding:0;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-x:none;
}
body {
    width  : 100%;
    margin:0;
    overflow-x: hidden;
    position: relative;
    overscroll-behavior-x:none;
}

a {
    color: #0381fe
}

a[target="_blank"]:after {
    /*content: " ↗"*/ ;
    content: " ❐";
    font-family: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
    color: black;
}

.token.comment {
    color: #de0f25
}

h1, h2, h3, h4, h5, h6 {
    color: #0381FEFF;
}

h2 {
    border-bottom: 2px solid rgb(136, 173, 246);
    padding-bottom: 0.5ex;
}

/* sticky footer */
html,body {
    height: 100vh;
}

body>footer {
    position: sticky;
    top: 100vh;
}